*{
    box-sizing: border-box;
    margin: 0;
}
html, body{
height: 100%;
display: grid;
place-items: center;
text-align: center;
}
body{
    background-color: rgb(4, 4, 32);
}
#text{
    color: whitesmoke;
    width: 300px;
    opacity:0;
    transition: 3s ease-in-out;
}
#circular{
    height: 100px;
    width: 100px;
    border: 10px solid #16191e;
    border-radius: 50%;
    border-top-color:#2a88e6;
    animation: spin  1.5s infinite;
    
}
@keyframes spin {
    100%{
        transform:  rotate(360deg);
    }
    
}